.bar {
	background-color: #ec4082;
	width: 150vmax;
	position: fixed;
	bottom: 50vh;
	transform: translateX(50%) rotate(-45deg);
}
.innerBar {
	animation: barMove 5s backwards linear infinite;
	width: 100vmax;
	height: 100%;
	background-color: #b5deec;
}

@keyframes barMove {
	from {
		transform: translateX(-100vmax);
	}
	to {
		transform: translateX(100vmax);
	}
}
