.button {
	position: fixed;
	right: 0px;
	top: 0px;
	padding: 10px 15px;
	border-bottom-left-radius: 10px;
	background-color: rgba(0, 0, 0, 0.438);
	z-index: 120;
	cursor: pointer;
	transition: 0.3s;
}

.button::selection,
.nav::selection {
	background-color: rgba(0, 0, 0, 0);
}
.nav {
	position: fixed;
	right: 0px;
	top: 0px;
	padding: 20px 30px;
	border-bottom-left-radius: 10px;
	background-color: #f738584d;
	z-index: 100;
	transition: 0.3s;
}

.nav ul {
	list-style-type: none;
}

.nav li {
	padding: 5px 0;
}
.nav a {
	color: #283149;
	font-size: 24px;
	text-transform: capitalize;
}
