.main {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	overflow-x: hidden;
}

.filler {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: transparent linear-gradient(239deg, #dbedf3 0%, #f73859 100%) 0% 0% no-repeat
		padding-box;
	color: #283149;
}

.filler h1 {
	font-size: 100px;
	padding: 20px;
}

.sideScroll {
	height: 50vh;
	display: grid;
	place-items: center start;
	background: transparent linear-gradient(239deg, #dbedf3 0%, #f73859 100%) 0% 0% no-repeat
		padding-box;
}

.sideScroll h2 {
	font-weight: 400;
	font-size: 120px;
	color: #283149;
	position: relative;
	right: 800px;
}

.parallaxOne {
	background-image: url('/parallax/coffee1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}
